# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache
__pycache__/*
test_package/__pycache__/*
test_package/build/*
build/*
*.pyc
tmp/
package/
build_subfolder/
.env/
source_subfolder/
conaninfo.txt
conanbuildinfo.txt
graph_info.json

# IDE
.idea/*
.vscode
.project
.pydevproject
.settings/*
.ropeproject/*
## emacs
*~
test_package/example.py
test_package/test_wrap.c
